<div id="carouselExampleControls" class="carousel slide project-responsive" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="device device-iphone-x">
        <div class="device-frame">
          <%= image_tag "safe-spaces1.PNG", alt: "first screenshot", class: "d-block w-100 device-content" %>
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
        <div class="device-home"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="device device-iphone-x">
        <div class="device-frame">
          <%= image_tag "safe-spaces2.PNG", alt: "second screenshot", class: "d-block w-100 device-content" %>
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
        <div class="device-home"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="device device-iphone-x">
        <div class="device-frame">
          <%= image_tag "safe-spaces3.PNG", alt: "third screenshot", class: "d-block w-100 device-content " %>
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
        <div class="device-home"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="device device-iphone-x">
        <div class="device-frame">
          <%= image_tag "safe-spaces4.PNG", alt: "fourth screenshot", class: "d-block w-100 device-content" %>
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
        <div class="device-home"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="device device-iphone-x">
        <div class="device-frame">
          <%= image_tag "safe-spaces5.PNG", alt: "fifth screenshot", class: "d-block w-100 device-content " %>
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
        <div class="device-home"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="device device-iphone-x">
        <div class="device-frame">
          <%= image_tag "safe-spaces5-5.jpeg", alt: "fifth screenshot", class: "d-block w-100 device-content " %>
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
        <div class="device-home"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="device device-iphone-x">
        <div class="device-frame">
          <%= image_tag "safe-spaces6.PNG", alt: "sixth screenshot", class: "d-block w-100 device-content " %>
        </div>
        <div class="device-stripe"></div>
        <div class="device-header"></div>
        <div class="device-sensors"></div>
        <div class="device-btns"></div>
        <div class="device-power"></div>
        <div class="device-home"></div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
